@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

.react-flow__node-mindmap {
    background: white;
    border-radius: 2px;
    border: 2px solid;
    padding: 2px 5px;
    font-weight: 700;
    width: 240px;
}
